<div class="page">
  <div class="container">
    <header class="page-header">
      <div class="jumbotron">
        <h1>Quick Check</h1>
      </div>
    </header>
    <main>
      <div class="container survey-form">
        <!-- <form class="p-0">
          <fieldset>
            <div class="form-group mt-3">
              <label for="firstName" class="form-label">First Name:</label>
              <input
                type="text"
                [(ngModel)]="surveyUser.firstName"
                class="form-control"
                id="firstName"
                placeholder="First Name"
              />
            </div>
            <div class="form-group mt-3">
              <label for="lastName" class="form-label">Last Name:</label>
              <input
                type="text"
                [(ngModel)]="surveyUser.firstName"
                class="form-control"
                id="lastName"
                placeholder="Last Name"
              />
            </div>
            <div class="form-group mt-3">
              <label for="dateOfBirth" class="form-label">Date of Birth:</label>
              <input
                type="text"
                [(ngModel)]="surveyUser.dateOfBirth"
                class="form-control none"
                id="dateOfBirth"
                placeholder="YYYY-MM-DD"
              />
            </div>
            <div class="form-group mt-3">
              <label for="passport" class="form-label">Passport:</label>
              <input
                type="text"
                [(ngModel)]="surveyUser.passport"
                class="form-control"
                id="passport"
                value="Q345678"
              />
            </div>
            <div class="form-group mt-3">
              <label for="nationality" class="form-label">Nationality:</label>
              <input
                type="text"
                [(ngModel)]="surveyUser.nationality"
                class="form-control"
                id="nationality"
                value="SGP"
              />
            </div>
            <div class="form-group mt-3">
              <label for="flightNumber" class="form-label"
                >Flight Number:</label
              >
              <input
                type="text"
                [(ngModel)]="surveyUser.flightNumber"
                class="form-control"
                id="flightNumber"
                value="SQ105"
              />
            </div>
            <div class="form-group mt-3">
              <label for="flightDate" class="form-label">Flight Date:</label>
              <input
                type="text"
                [(ngModel)]="surveyUser.flightDate"
                class="form-control"
                id="flightDate"
                placeholder="YYYY-MM-DD"
              />
            </div>
          </fieldset>
        </form> -->
        <div
          class="
            alert alert-success
            mt-3
            d-flex
            justify-content-between
            align-items-center
          "
        >
          <p>
            Check if your vaccination credentials allow you to travel to Cayman?
          </p>
          <common-check-widget
          ></common-check-widget>
        </div>
      </div>
    </main>
  </div>
</div>
